*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(56, 48, 48) 33,45,75, rgb(67, 67, 221), rgb(96, 44, 44),rgb(47, 128, 0));
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-container{
    width: 60%;
    height:50% ;
    max-width: 400px;
    background-color: rgb(133, 138, 137);
    border-radius: 10px;
    padding: 25px 30px;
    margin-inline: 25px;
}
 .form-container h1{
    text-align: center;
    color: rgb(65, 65, 128);
 }
.form-container form{
    margin-block: 30px;
}

input{
    width: 100%;
    padding: 20px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(218, 216, 214);
    font-size: 20px;
    margin: 11px 0;
}

a{
    text-decoration: none;
    color: rgb(69, 69, 75);
 
}

input[type="button"]{
    margin-block: 25px;
    background-color: rgb(106, 106, 111);
    color: rgb(197, 222, 244);
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

input[type="button"]:hover{
    background-color: rgb(51, 69, 101);
}

.links{
    display: flex;
    justify-content: center;
}

.links a img{
    max-height: 50px;
    margin-block:20px;
}