*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(152, 156, 158);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-container{
    width: 60%;
    height:65% ;
    max-width: 400px;
    background-color: rgb(175, 184, 184);
    border-radius: 10px;
    padding: 25px 30px;
    margin-inline: 25px;
}
 .form-container h1{
    text-align: center;
    color: rgb(65, 65, 128);
 }
.form-container form{
    margin-block: 30px;
}

input{
    width: 100%;
    padding: 20px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(218, 216, 214);
    font-size: 20px;
    margin: 11px 0;
}

a{
    text-decoration: none;
    color: rgb(69, 69, 75);
    font-size: 1rem;
 
}

input[type="button"]{
    margin-block: 25px;
    background-color: rgb(127, 127, 247);
    color: silver;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

input[type="button"]:hover{
    background-color: rgb(98, 137, 203);
}

#nameField{
    display: none;
}

.links{
    display: flex;
    justify-content: center;
}

.links a img{
    max-height: 40px;
    margin-inline:20px; 
    margin-top: 30px;  
}

.links a img:hover{
    background-color: rgb(139, 138, 136);
}

.signup{
    text-align: center;
    margin-block: 25px;
}

.signup a{
    font-size:1rem ;
    font-weight:bold;
    color: rgb(100, 100, 235);
}

.signup a:hover{
    text-decoration: underline 3px;
    color: rgb(98, 98, 239);
    text-underline-offset: 3.7px;
}

/* ways to make css responsive */

@media screen and (max-width:800px) {
    .form-container{
        width: 100%;
    }
    
}